/* form styling */
.ph { 
    padding: 1.5rem;
}

.grup {
    height: 45vh;
    width: 32rem;
    margin: 0 1rem 1rem 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem #181f6f;
}

.formHeading {
  color: #181f6f; 
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-weight: normal;
}

.form{
  display: flex;
  flex-direction: column;
}

.formControl {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.formControl label {
  width: 200px; 
  width: 11rem;
  text-align: left; 
  display: inline-block;
  color: #181f6f;
  font-weight: bold;
}

.formControl input,
.formControl select {
  height: 2rem;
  padding: .4rem 1rem;
  border-radius: 5px;
  border: 1px solid #fdf0d5;
  margin-right: 1rem;
  color: #070F2B;
}

.formControl input,
.formControl textarea {
  width: 30rem;
  border: 1px solid rgb(174, 174, 247);
  outline: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.addBtn {
  background: rgb(173, 173, 248);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none; 
  position: absolute;
  right: 0.7rem;
  bottom: 0.5rem;
  background: #181f6f;
  color: #f4f7f8;
  background: linear-gradient(#f4f7f8, #181f6f);
  color: #181f6f;
} 

.addBtn:hover {
  background: #f4f7f8;
  color: #181f6f;
  background: linear-gradient(#181f6f, #f4f7f8);
  cursor: pointer;
}

/* table style */
.ptable {
  margin: 1.5rem 1rem 1rem 1rem;
}

.ptable table {
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}

.ptable th, .ptable td {
  border:  1px solid rgb(213, 213, 239);
  padding: 8px;
  text-align: left;
}

.ptable th {
  font-size: 0.9rem;
  background: #012a4a;
  color: #f4f7f8;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* .table tbody tr:nth-child(odd) {
  background-color: #eca3a3; /* Change to your desired odd row color */
/* } */ 

.pharmTable .ptablee tr:nth-child(even) {
  background: #389bd9;
}

.ptable td:hover {
  background-color: #e9e9f7;
  cursor: pointer;
}


/* the search */
.search {
    position: relative;
    display: inline-block;
}

.search .searchBox {
    height: 2rem;
    width: 7rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(201, 201, 234);
    outline: none;
    transition: width 0.4s ease-in-out;
}

.search .searchBox:focus {
    width: 18rem;
}

.search .searchIcon {
    position: absolute;
    top: 50%;
    right: 0.5rem; 
    transform: translateY(-50%);
    color: rgb(141, 141, 165); 
  } 

.viewBtn, .upBtn, .delBtn {
  padding: 0.2rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  color: white; 
} 

.viewBtn {
  background: gray;
}

.viewBtn:hover, .viewBtn:focus, .viewBtn:visited {
  color: gray;
  border: 2px solid gray;
  background: transparent;
}

.upBtn {
  background: #389bd9;
}

.upBtn:hover, .upBtn:focus, .upBtn:visited {
  color: #389bd9;
  border: 2px solid #389bd9;
  background: transparent;
}

.delBtn {
  background: #d14a55;
}

.delBtn:hover, .delBtn:focus, .delBtn:visited {
  color: #d14a55;
  border: 2px solid #d14a55;
  background: transparent;
}


/* pagination styles */
.pharmPagination {
  display: flex;;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  list-style: none;
}

.page-item {
  border: 1px solid rgb(163, 163, 240);
  font-size: 1rem;
  background-color: #eee;
  font-family: inherit;
  font-weight: 600;
  background: transparent;
  border-radius: 0.4rem;
}

.page-item a {
  text-decoration: none;
  color: #181f6f;
}

.page-link {
  display: block;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  text-decoration: none;
  color: #181f6f; 
}

.page-item.active .page-link {
  background: #777fd4;
  color: #fff;
  font-weight: 700;
}