.mainp {
  background-color: #bbd0ff;
  padding: 1rem;
}

.inph { 
    background-color: #cae9ff;
    padding: 1rem;
} 

.ph {
    border-radius: 4px;
    padding: 2.5rem;
    background-color: #e3f2fd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='63' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23118AB2' fill-opacity='0.12' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  }

/* .grup {
    margin: 1rem;
} */

.grup form label {
    color: #001242;
    font-weight: bold;
}

.grup form input, textarea {
    color: #310652;
    background-color: #ccd5ff;
    border-bottom: 1px solid #290a36;
    border-radius: 5px;
    padding: .5rem;
    border-top:  none;
    border-left: none;
    border-right: none;
}

.grup form input::placeholder {
  color: #183446;
}

.grup form label, input, textarea {
  border-bottom: 1px solid #05668d;
  padding: .5rem;
  background-color: #ebf2fa;
}

.grup button {
    color: #ccdbdc;
    background-color: #386fa4;
    border: 3.7px solid #481f7d;
    border-radius: 7px;
    padding: .7rem 1.5rem;
    font-weight: bold;
    margin: .7rem;
    cursor: pointer;
}

.grup button:hover {
    background-color: #702ac5;
}

.grup .chart {
}


.ptable table {
    border-collapse: collapse;
    width: 90%;
  }
  .ptable th {
    border: 1px solid #979dac;
    text-align: center;
    padding: 6px;
    padding-left: 6px;
    font-size: .8rem;
    background-color: #012a4a;
    color: #bbd0ff;
  }


.ptablee table {
    border-collapse: collapse;
    width: 90%;
  }

  .ptablee td {
    border: 1px solid #caf0f8;
    text-align: center;
    padding: 6px;
    padding-left: 6px;
    font-size: .8rem;
  }
  .ptablee th {
    background-color: #00b4d8;
    color: #caf0f8;
  }
  .ptablee td {
    background-color: #5c677d;
  }
  .ptablee td:hover {
    background-color: #a3bac3;
  } */

  /* .ptablee td:last-child {
    display: flex;
    justify-content: space-evenly;
  } */
  


  .search {
    position: relative;
    display: inline-block;
  }

.search .searchBox {
    height: 2rem;
    width: 7rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    /* border: 1px solid rgb(213, 213, 239); */
    border: 1.3px solid #7b44f2;
    outline: none;
    transition: width 0.4s ease-in-out;
}

.search .searchBox:focus {
    width: 18rem;
}

.search .searchIcon {
    position: absolute;
    top: 50%;
    right: 0.5rem; 
    transform: translateY(-50%);
    color: rgb(141, 141, 165); 
  } 


  .modalTablep {
    /* background-color: #C1F2B0;
    border: 3px solid #F3F8FF; */
    border-radius: 12px;
    padding: 2rem;
    margin: 1rem;
    background-color: #BBD0FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C04CFD'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  }
  
/* 
  .modalTablep label {
    color: #031d44;
    background-color: #cfdee7;
    margin-right: .5rem;
  }

  .modalTablep input {
    border: 1px solid #7fefbd;
    background-color: #bbdefb;
    color: #001021;
  }

  .modalTablep button {
    background-color: #e5d9f2;
    padding: .3rem .5rem;
    border-radius: 2px;
    margin-top: 1rem;
    cursor: pointer;
  } */