@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7f8;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 0.1fr 2fr;
  grid-column-gap: 0;
  grid-template-areas: 
      "navbar navbar"
      "sidebar main";
}